[project]
	description = Data Science Course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Neeraj Sharma (nsharma-git)
[access "refs/for/refs/*"]
	read = group user/Neeraj Sharma (nsharma-git)
	push = group user/Neeraj Sharma (nsharma-git)
	label-Code-Review = -2..+2 group user/Neeraj Sharma (nsharma-git)
	label-Verified = -1..+1 group user/Neeraj Sharma (nsharma-git)
	rebase = group user/Neeraj Sharma (nsharma-git)
	removeReviewer = group user/Neeraj Sharma (nsharma-git)
	submit = group user/Neeraj Sharma (nsharma-git)
[access "refs/heads/*"]
	read = group user/Neeraj Sharma (nsharma-git)
	create = group user/Neeraj Sharma (nsharma-git)
	push = +force group user/Neeraj Sharma (nsharma-git)
	pushMerge = group user/Neeraj Sharma (nsharma-git)
[access "refs/tags/*"]
	push = +force group user/Neeraj Sharma (nsharma-git)
	pushTag = group user/Neeraj Sharma (nsharma-git)
	pushSignedTag = group user/Neeraj Sharma (nsharma-git)
